/*================== Global =============*/
html{
    scroll-behavior: smooth;
    width: 100vw;
}
body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: black;
    background-color: var(--color-grey-900);
}
img{
    max-width: 100%;
    display: block;
    height: auto;
}
.main__content{
    width: 100vw;
}
/*======== Home ==========*/
.home{
    margin-top: 6.5em;
    width: 100vw;
    margin-bottom: 5rem;
}
.home__container{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}
.home__shape{
    position: absolute;
    width: 40rem;
    height: 40rem;
    margin-left: 5rem;
    right: 2rem;
    background-color: var(--color-grey-50);
    border-radius: 50%;
}
.home__sneaker{
    position: relative;
    width: 40rem;
    height: 40rem;
    background-color: var(--color-grey-50);
    border-radius: 50%;
}
.home__sneaker .container__image{
    position: absolute;
    top: 15%;
    left: -30%;
    z-index: 10;
    transform: rotate(-10deg);
}
.home__data{
    width: 40rem;
    padding: 0 8rem 0 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;
}

.home__data span{
    font-size: var(--bigger-font-size);
}
.home__data h1{
    font-size: var(--biggest-font-size);
    letter-spacing: 3px;
}
.home__data p{
    font-size: var(--big-font-size);
    color: var(--color-grey-300);
}
.home__data .button{
    margin-top: 10px;
    width: 10rem;
    background-color: var(--color-grey-50);
    color: var(--color-grey-1000);
    padding: .8rem 1.2rem ;
    border: none;
    border-radius: 5px;
    letter-spacing: 2px;
    transition: .3s;
}
.button:hover{
    transform: translateY(-3px);
}
/*======= media query - Home ======*/
@media screen and (max-width:1300px) {
    .home__container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .home__data{
        padding: 0 3rem;
    }
    .home__data .button{
        align-self: center;
    }
}
@media screen and (max-width:768px) {
    .home__sneaker{
        width: 30rem;
        height: 30rem;
    }
    .home__data{
        width: 30rem;
        padding: 0;
    }
}
@media screen and (max-width: 425px) {
    .home__sneaker{
        width: 15rem;
        height: 15rem;
    }
    .home__data{
        width: 15rem;
    }
}

/*============= Sections Class =============*/
.section__showcase{
    width: 100vw;
    padding: 4rem;
    margin-bottom: 3rem;
}
.title-showcase{
    text-align: center;
    font-size: var(--biggest-font-size);
    margin-bottom: 2rem;
}
.title-showcase::after{
    content: '';
    width: 13rem;
    height: 5px;
    background: var(--color-grey-50);
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}
/*=== Product Card ===*/
.product__card{
    width: 15rem;
    background-color: var(--color-grey-700);
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: .2rem .1rem .9rem;
}
.product__img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.view__more{
    position: absolute;
    padding: 3rem 1rem;
    transition: .5s;
    opacity: 0;
}
.btn-view{
    padding: 5px;
    font-size: var(--bigger-font-size);
    color: var(--color-grey-1000);
    letter-spacing: 3px;
    background-color: var(--color-grey-50);
    border-radius: 5px;
}
.view__more:hover{
    opacity: 1;
    cursor: pointer;
}
.product__header{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    text-align: center;
}
.product-name{
    letter-spacing: 1px;
    font-size: var(--big-font-size);
}

.price__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product__info{
    display: flex;
    justify-content: space-between;
}
.btn-add-cart{
    border: 1px var(--color-grey-50) solid;
    padding: 3px;
    height: 2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}
.btn-add-cart:hover{
    background-color: var(--color-grey-100);
    color: var(--color-grey-1000);
}
.btn-add-cart i{
    font-size: var(--bigger-font-size);
}
.price__container h2{
    font-size: var(--big-font-size);
    letter-spacing: 1px;
    margin-bottom: .2rem;
}
.price__container h3{
    font-size: var(--normal-font-size);
    padding-left: 1rem;
}
/*=== section man ===*/
.man .title-showcase::after{
    width: 6rem;
}
/*=== section woman ===*/
.woman .title-showcase::after{
    width: 11.3rem;
}

