:root {
  --secondary-color: #25cc88;
}
/*========= Global =========*/
main {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
}
#order-form-container{
  background-color: var(--color-grey-900);
  padding: 1.5rem;
  border-radius: 5px;
}
/*==== Steps =====*/
.steps{
  display: flex;
  justify-content: space-between;
  padding: 0 6rem;
  position: relative;
  margin-bottom: 2rem;
}
.step{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}
.step i{
  background-color: var(--color-grey-50);
  border-radius: 50%;
  color: var(--color-grey-1000);
  font-size: var(--biggest-font-size);
  padding: .5rem;
  border: 1px solid white;
}
.step-name{
  margin-top: .5rem;
}
.step .active{
  background-color: var(--secondary-color);
  color: black;
  border: 1px solid black;
}

.step p {
  color: var(--color-grey-50);
  font-weight: var(--font-semi-bold);
}

.line {
  border-bottom: 1px solid var(--color-grey-50);
  position: absolute;
  top: 40%;
  width: 80%;
  left: 10%;
  z-index: 1;
}
#hr-steps{
  width: 63rem;
}
